
body {
	font-family:"Times New Roman", verdana, arial ;
	margin: 2% 2% 2% 2% ;
	}
	
h1,
h2,
h3,
h4,
h5 {
	margin-bottom: 1.5em ;
	text-align: center ;
	}
	
p {
    text-align: justify ;
	}
